.no-border {
  border: none;
}

.header__menu__btn_close {
  & svg {
    display: block;
    height: 16px;
    width: 16px;
    fill: $black;
    margin-top: 3px;
    margin-left: 3px;
  }
  &::after {
    background: transparent;
    box-shadow: none;
  }
}

.mark__content__big {
  color: #404040;
  font-size: 37px;
  font-weight: 400;
}

.mark__content__medium {
  color: #404040;
  font-size: 24px;
  font-weight: 400;
}

.fixed {
  position: fixed;
  z-index: 55;
  left: 0;
  right: 0;
  top: 0;
  background: $white;
}

.fixed__results {
  position: fixed;
}

//Balloon style
.popover {
  background: white;
  width: 512px;
  box-shadow: 0 3px 27px rgba(62, 125, 177, 0.14);
  position: absolute;

  &__inner {
    min-height: 20px;
    background: $white;
    position: relative;
    padding: 40px;
  }
  &__content {
    width: 100%;
  }
  &__close {
    position: absolute;
    right: 23px;
    top: 19px;
    & > svg {
      width: 18px;
      height: 18px;
      fill: #aaaaaa;
    }
  }
}

.balloon {

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
  }

  &__title {
    border-bottom: 1px solid #e6eaef;
    padding-bottom: 20px;
    & a {
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }
  }
  &__address {
    font-family: $font-openSans;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #e6eaef;
    position: relative;
    & svg {
      top: 17px;
    }
  }
  &__phone {
    margin-top: 20px;
    position: relative;
    padding-left: 30px;
    & > a {
      color: $black;
    }
  }
  &__email {
    margin-top: 10px;
    position: relative;
    padding-left: 30px;
  }
  &__work-time {
    margin-top: 10px;
    position: relative;
    padding-left: 30px;
  }
}

