@media (min-width: 1680px) {
  //Header
  .header {
    &__hot-line {
      margin-left: 412px;
    }

    &__work-time {
      margin-left: 89px;
    }
  }

  //Search form
  .search {
    margin-right: -705px;
    &__form {
      &__wrapper {
        //max-width: 1410px;
      }
    }
    //Search results block
    &__results {
      margin-right: -705px;
      &__wrapper {
        //max-width: 1410px;
      }
    }
  }

  //Navigation
  .navigation {
    &__list {
      flex-wrap: nowrap;
      justify-content: start;
      &__item {
        margin-right: 40px;
        & a {
          white-space: nowrap;
        }
      }
    }
  }

  //Main
  .is-fixed {
    //margin-top: 132px;
  }

  //Main__Prime
  .prime {

    &__title {
      font-size: 42px;
      line-height: 52px;
    }

    &__description {
      margin-top: 30px;
      font-size: 18px;
      line-height: 32px;
    }

    &__slick-next {
      right: 5%;
    }
    &__slick-prev {
      left: 5%;
    }
  }

  //News
  .news {
    padding-bottom: 106px;
    &__actions {
      & .news__item__title {
        padding-bottom: 95px;
      }
    }
  }

  //Network
  .network {
    padding: 82px 0 0;
  }

  //Header fixed
  .fixed {
    & .header {
      &__user {
        margin-right: -350px;
      }
    }
    & .navigation {
      &__list {
        justify-content: space-between;
        padding-right: 130px;
      }
      & .navigation__list {
        margin: -53px 145px 0;
      }
    }
  }
}
