body {
  font-family: $font-openSans;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  outline: none !important;
}
