@media (min-width: 1410px) {
  //Header
  .header {
    //min-height: 160px;
  }

  //Search form
  .search {
    margin-right: -600px;
    &__form {
      &__wrapper {
        //max-width: 1170px;
      }
    }

    //Search results block
    &__results {
      margin-right: -600px;
      &__wrapper {
        //max-width: 1170px;
      }
    }
  }

  //Navigation Desktops
  .navigation {
    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      &__item {
        & > a {
          &::after {
            //bottom: -14px;
          }
        }
      }
    }

    &__products__wrapper {
      //top: 160px;

      & .products__item {
        text-align: left;
        margin-top: 20px;
        min-width: unset;

        & a {
          display: flex;
        }

        &__description {
          align-self: center;
        }

        & ul {
          justify-content: start;
        }
      }
    }
  }

  //Main
  .is-fixed {
    margin-top: 65px;
  }

  //Main__Prime
  .prime {

    &__slider__item {
      min-height: 600px;
    }
    &__new {
      margin-left: 0;
      margin-top: 125px;
    }

    &__title {
      margin-left: 0;
    }

    &__description {
      margin-left: 60px;
    }

  }

  //Main__News
  .news {
    &__actions {
      &::after {
        height: 60px;
      }
    }
  }

  //Header fixed
  .fixed {
    //min-height: 65px;

    & .header {
      &__logo {
        width: 91px;
        height: 24px;
        //margin: 17px 0 5px;
        transition: .3s;
      }

      &__tablet-menu {
        display: none;
      }
      &__hot-line {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }
      &__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }
      &__user {
        margin-right: -330px;
        //margin-bottom: -10px;
        & span {
          visibility: hidden;
          opacity: 0;
          transition: .3s;
          margin-top: -30px;
        }
      }

      &__search-language__wrapper {
        margin-bottom: 3px;
      }
    }

    //Fixed Navigation
    & .navigation {
      left: 0;
      right: 0;
      position: absolute;
      opacity: 1;
      visibility: visible;
      margin: 0;
      width: 100%;

      &__products {
        &__wrapper {
          top: 0;
          left: 0;
          width: 100%;
          height: unset;
        }
      }

      & .products__item {
        min-width: unset;
      }

      &__list {
        flex-wrap: wrap;
        padding: 0 110px 0 115px;
        margin-top: -53px;
        justify-content: space-between;

        &__wrapper {
          display: block;
          height: 0;
        }

        &__item {
          margin: 0;

          &__wrapper {
            & > a {
              padding: 12px 10px 24px;
              overflow: visible;
              &:hover::after {
                display: block;
              }
            }

            & > button {
              display: none;
            }
          }

          //&:hover > div {
          //  position: fixed;
          //  top: 65px;
          //  right: 0;
          //  left: 0;
          //  margin-left: 0;
          //  max-width: 100%;
          //}

          & > a,
          & > button {
            font-size: 10px;
            padding: 10px 0 26px;
          }
        }
      }

      & .navigation__list {
        padding: 0;
        margin: -53px 110px 0 115px;
        &__item {
          width: auto;
          border: none;
        }
      }
    }

    & .search__results {
      //z-index: 56;
      //left: -100%;
      //top: 100px;
      //background: $white;
    }
  }
}
