@media (min-width: 1410px) {
  //Header
  .header {
    &__hot-line {
      margin-left: 320px;
    }
    &__work-time {
      margin-left: 75px;
    }
    &__user {
      margin-left: 45px;
      margin-right: auto;
    }
    &__search {
      margin-top: 10px;
      margin-bottom: -5px;
    }
  }

  //Search form
  .search {
    margin-right: -600px;
    &__form {
      &__wrapper {
        //max-width: 1170px;
      }
    }

    //Search results block
    &__results {
      margin-right: -600px;
      &__wrapper {
        //max-width: 1170px;
      }
    }
  }

  //Navigation Desktops
  .navigation {
    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      &__item {
        &__wrapper {
          & > a {
            font-size: 16px;
          }
        }
      }
    }

    &__products__wrapper {
      padding: 15px 0 40px;

      & .products__item {
        text-align: left;
        margin-top: 30px;
        min-width: unset;

        & a {
          display: flex;
        }

        &__description {
          align-self: center;
        }

        & ul {
          justify-content: start;
        }
      }
    }
  }

  //Main
  .is-fixed {
    margin-top: 65px;
  }

  //Main__Prime
  .prime {

    &__slider__item {
      height: 600px;
    }
    &__new {
      margin-left: 0;
      margin-top: 125px;
    }

    &__title {
      margin-left: 0;
      line-height: 49.86px;
      width: 685px;
    }

    &__description {
      margin-left: 60px;
      line-height: 32px;
      width: 500px;
      margin-top: 42px;
      & > li {
        margin-left: -27px;
      }
    }

  }

  //Main__Prodicts
  .products {
    padding: 80px 0 80px;
    &__item {
      margin-top: 45px;
      margin-bottom: 13px;
      &__image {
        & > svg {
          width: 146px;
          height: 146px;
        }
      }
    }
  }

  //Main__News
  .news {
    padding: 62px 0 113px;
    &__actions {
      &::after {
        height: 60px;
      }
    }
  }

  //Main__Network
  .network {
    padding: 52px 0 0;
    &__map {
      margin-top: 47px;
    }
  }

  //Footer
  //Footer__Stuff
  .footer {
    &__stuff {
      font-size: 14px;
    }
  }

  //Header fixed
  .fixed {
    //min-height: 65px;

    & .header {
      &__logo {
        width: 91px;
        height: 24px;
        //margin: 17px 0 5px;
        transition: .3s;
      }

      &__tablet-menu {
        display: none;
      }
      &__hot-line {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }
      &__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }
      &__user {
        margin-right: -295px;
        //margin-bottom: -10px;
        & span {
          visibility: hidden;
          opacity: 0;
          transition: .3s;
          margin-top: -30px;
        }
      }

      &__search-language__wrapper {
        margin-bottom: 3px;
      }
    }

    //Fixed Navigation
    & .navigation {
      left: 0;
      right: 0;
      position: absolute;
      opacity: 1;
      visibility: visible;
      margin: 0;
      width: 100%;

      &__products {
        &__wrapper {
          padding-top: 15px;
          top: 0;
          left: 0;
          width: 100%;
          height: unset;
        }
      }

      & .products__item {
        min-width: unset;
        &__description {
          font-size: 16px;
        }

        &__image {
          & > svg {
            width: 86px;
            height: 86px;
          }
        }
      }

      &__list {
        flex-wrap: wrap;
        //padding: 0 110px 0 125px;
        margin-top: -53px;
        justify-content: space-between;

        &__wrapper {
          display: block;
          height: 0;
        }

        &__item {
          margin: 0;

          &__wrapper {
            & > a {
              padding: 12px 0 24px;
              font-size: 15px;
              overflow: visible;
              &:hover::after {
                display: block;
              }
            }

            & > button {
              display: none;
            }
          }

          //&:hover > div {
          //  position: fixed;
          //  top: 65px;
          //  right: 0;
          //  left: 0;
          //  margin-left: 0;
          //  max-width: 100%;
          //}

          & > a,
          & > button {
            font-size: 10px;
            padding: 10px 0 26px;
          }
        }
      }

      & .navigation__list {
        padding: 0;
        margin: -53px 125px 0 135px;
        &__item {
          width: auto;
          border: none;
        }
      }
    }

    & .search__results {
      //z-index: 56;
      //left: -100%;
      //top: 100px;
      //background: $white;
    }
  }
}
