//Header
.header {
  min-height: 59px;
  &__wrapper {
    padding: 0 10px;
    align-items: baseline;
    justify-content: space-between;
  }
  &__logo {
    min-height: 24px;
    min-width: 90px;
    margin: 17px 40px 17px 0;
  }
  & .icon-lk {
    height: 18px;
    width: 18px;
    fill: $black;
  }
  & .icon-search {
    width: 18px;
    height: 18px;
    fill: $black;
  }
  &__language {
    &__item {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
    }
    .icon-arrow_down {
      width: 20px;
      height: 15px;
    }
  }
  &__menu {
    &__btn {
      height: 22px;
      width: 22px;
      display: block;
      position: relative;
      &::after {
        content: '';
        width: 27px;
        height: 2px;
        background: $black;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        box-shadow: 0 10px $black, 0 20px $black;
      }
    }
  }
}

//Header__Mobile Menu
.mobile {
  display: none;
  background: #f1f7fc;
  padding: 35px 0 20px;
  &__contacts {
    border-bottom: 1px solid #dee6ec;
    padding-bottom: 30px;
  }
  &__hot__phone {
    font-family: $font-openSans-semi;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
  }
  &__hot__description {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 10px;
  }
  &__phone {
    font-family: $font-openSans-semi;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10px;
  }
  &__email {
    font-family: $font-openSans-semi;
    font-size: 14px;
    font-weight: 400;
    margin: 8px 10px 0;
  }
  &__menu__item {
    border-bottom: 1px solid #dee6ec;
    & a {
      font-size: 16px;
      font-weight: 700;
      color: $black;
      padding: 15px 0;
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
    }
    & svg {
      width: 20px;
      height: 15px;
    }
    &_active {
      & svg {
        transform: rotate(180deg);
      }
    }
  }
  &__submenu {
    background: $white;
    padding: 20px 0 20px 25px;
    &__item {
      display: flex;
      & svg {
        width: 32px;
        height: 32px;
      }
      & span {
        align-self: center;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

//Main__Prime
.prime {
  &__slider {
    position: relative;
  }
  &__first,
  &__second,
  &__third {
    background: $color-heavy-blue url("../assets/images/bg-prime-1.png") center center;
    background-size: cover;
    min-height: 499px;
    padding: 0 10px;
    &__new {
      padding: 5px 10px 8px;
      background: $color-regular-green;
      margin-top: 49px;
    }
    &__title {
      margin-top: 23px;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
    }
    &__description {
      margin-top: 23px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__second {
    background: $color-heavy-blue url("../assets/images/bg-prime-2.png") center center;
  }

  &__third {
    background: $color-heavy-blue url("../assets/images/bg-prime-1.png") right center;
  }
}

.prime .slick-dots,
.news .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  & button {
    border: 1px solid $white;
    width: 37px;
    height: 7px;
    background: transparent;
    margin: 0 6px;
  }
  & > .slick-active > button {
    background: $white;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

//Main__Products
.products {
  padding: 0 10px;
  text-align: center;
  &__title {
    font-family: $font-openSans-semi;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-top: 45px;
  }
  &__wrapper {
    margin-bottom: 63px;
  }
  &__item {
    margin-top: 30px;
  }
}

.icon-ico_1,
.icon-ico_2,
.icon-ico_3,
.icon-ico_4,
.icon-ico_5,
.icon-ico_6,
.icon-ico_7,
.icon-ico_8,
.icon-ico_9,
.icon-ico_10 {
  width: 68px;
  height: 68px;
}

//Main__News
.news {
  background: $color-light-blue;
  padding: 70px 10px 65px;
  &__item {
    position: relative;
    padding: 0;
    margin-top: 15px;
    &__description {
      margin-top: 111px;
      padding-bottom: 30px;
      position: relative;
      z-index: 5;
      &::after {
        @include mix-pseudo-overlay;
        background-color: #0d2c39;
        opacity: 0.48;
        z-index: -1;
      }
    }
    &__billet {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 300;
      min-height: 30px;
      color: #040404;
      letter-spacing: 2.08px;
      display: inline-block;
      padding: 8px 17px;
      border: 1px solid rgba(249, 252, 253, 0.24);
      border-radius: 2px;
      margin: 26px 0 0 30px;
      position: relative;
      z-index: 10;
    }
    &__date {
      font-size: 14px;
      font-weight: 300;
      padding: 25px 0 16px 55px;
      border-bottom: 1px solid rgba(255, 255, 255, .18);
      position: relative;
      & > svg {
        position: absolute;
        height: 22px;
        width: 22px;
        top: 21px;
        left: 30px;
      }
    }
    &__title {
      margin: 18px 0 0 0;
      font-family: $font-openSans-semi;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 30px;
    }
  }

  &__company {
    background: $color-heavy-blue url("../assets/images/urology.jpg") center center;
    color: $white;
    &::after {
      @include mix-pseudo-overlay;
      background-color: #040404;
      opacity: 0.12;
      z-index: 5;
    }
    & .news__item__billet {
      background: $color-light-blue;
    }
    & .icon-time {
      fill: $white;
    }
  }
  &__industry {
    background: $white;
    & > .news__item__billet {
      background: $color-light-green;
    }
    & > .news__item__title {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(115, 164, 184, .32);
      &:last-child {
        border-bottom: none;
        padding-bottom: 45px;
      }
    }
    & svg {
      fill: #999;
    }
  }
  &__events {
    color: $white;
    background: $color-heavy-blue url("../assets/images/atm.jpg") center center;
    & .news__item__billet {
      background: $color-light-blue;
    }
    & .news__item__date {
      & svg {
        fill: #999;
      }
    }
  }
  &__webinars {
    background: $color-heavy-blue url("../assets/images/cystatin.jpg") center center;
    color: $white;
    & .news__item__billet {
      background: $color-light-green;
    }
    & .news__item__date {
      & svg {
        fill: #999;
      }
    }
  }
  &__actions {
    background: $white;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 73px;
      height: 47px;
      background: url("../assets/images/conda.jpg");
      top: 25px;
      right: 18px;
    }
    & .slick-dots {
      bottom: unset;
      top: 220px;
      & button {
        border: none;
        width: 44px;
        height: 6px;
        background: #979899;
        margin: 0 10px;
      }
      & > .slick-active > button {
        background: $color-light-green;
      }
    }
    & .news__item__billet {
      background: $color-light-blue;
    }
    & .news__item__image {
      & img {
        margin: 15px auto 0;
        display: block;
      }
    }
    & .news__item__title {
      margin-top: -30px;
      background: $color-light-green;
      position: relative;
      z-index: 10;
      padding: 29px 30px 37px;
    }
  }
  &__item__wrapper {
    background: $white;
    & svg {
      width: 68px;
      height: 68px;
    }
  }
  &__item__subitem {
    display: flex;
    justify-content: space-between;
    padding: 34px 37px 36px 30px;
    box-shadow: 0 3px 7px rgba(62, 125, 177, 0.08);
    border-bottom: 1px solid rgba(115, 164, 184, .32);
  }
  &__subitem__description {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-openSans-semi;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}

//Main__Network
.network {
  padding: 55px 0 47px;
  &__title {
    font-size: 24px;
    font-weight: 400;
  }
  &__select {
    width: 100%;
    &__wrapper {
      margin-top: 25px;
    }
  }
  &__map {
    width: 100%;
    min-height: 742px;
    margin-top: 35px;
  }
}

//Footer
.footer {
  background: $color-heavy-blue;
  color: $white;
}
//Footer__About
.about {
  padding: 40px 0 70px;
  text-align: center;
  background: url("../assets/images/bg-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__menu {
    &__item {
      margin-top: 15px;
      & a {
        color: $white;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  &__phone,
  &__hot__phone {
    font-size: 24px;
    font-weight: 700;
  }
  &__phone {
    margin-top: 35px;
  }
  &__hot__phone {
    margin-top: 50px;
  }
  &__hot__description {
    font-size: 14px;
    font-weight: 400;
  }
  &__email {
    font-family: $font-openSans-semi;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
}
//Footer__Stuff
.stuff {
  opacity: 0.66;
  color: $white;
  font-size: 14px;
  font-weight: 400;
  padding: 25px 0 20px;
  &__rules {
    margin-top: 10px;
  }
  &__map {
    margin-top: 10px;
  }
}
