//Header
.header {
  height: 59px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);

  &__top {
    height: inherit;
    & > div {
      height: inherit;
    }
  }

  &__wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    height: 24px;
    width: 90px;
    //margin: 17px 38px 17px 0;
  }

  &__tablet-menu {
    display: none;
  }

  &__hot-line {
    display: none;
  }

  &__work-time {
    display: none;

    & > svg {
      fill: #b3b3b3;
    }
  }

  &__user {
    margin-left: 38px;
    & span {
      display: none;
    }
    & .icon-lk {
      height: 18px;
      width: 18px;
      fill: $black;
    }
  }

  &__search-language__wrapper {
    display: flex;
    margin-left: 22px;
    margin-right: auto;
  }

  &__language {
    margin-left: 20px;
  }

  &__search {
    &__button {
      outline: transparent;
      fill: $black;
      transition: .3s;
      display: block;

      & > svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        fill: $color-regular-green;
        transition: .3s;
      }

      &:active {
        fill: $color-regular-green;
      }
    }
  }

  &__language {
    position: relative;

    &__item {
      font-size: 12px;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
    }

    .icon-arrow_down {
      width: 20px;
      height: 15px;
      margin-bottom: -3px;
      margin-left: -2px;
    }
  }

  &__menu {
    align-self: center;

    &__btn {
      height: 22px;
      width: 27px;
      display: block;
      position: relative;
      outline: transparent;

      &::after {
        content: '';
        width: 27px;
        height: 2px;
        background: $black;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        box-shadow: 0 10px $black, 0 20px $black;
      }

      & svg {
        display: none;
      }
    }
  }
}

//Language variants
.language {
  display: none;
  position: absolute;
  width: 100%;
  top: 20px;
  background: $color-light-blue;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 60;

  &__list {

    &__item {
      & > a {
        padding: 10px;
        color: black;
        display: block;
        transition: .3s;

        &:hover {
          background: $color-regular-blue;
          color: $white;
          transition: .3s;
        }
      }

      &-active {
        background: $color-regular-blue;

        & > a {
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

//Navigation Desktops
.navigation {
  display: none;
  flex-shrink: 0;
  border-top: 1px solid #cdcdcd;
}

//Search form
.search {
  position: absolute;
  background: #eef5f9;
  z-index: 70;
  height: 59px;
  width: 0;
  top: 0;
  right: 0;
  transition: .3s;
  border-bottom: 1px solid #fbfcfd;
  box-sizing: border-box;
  overflow: hidden;

  &__open {
    width: 100%;
    transition: .3s;
  }

  &__form {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 100%;
  }

  &__input {
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    padding: 0 15px 0 10px;
    font-size: 14px;
    background: transparent;

    &__wrapper {
      width: 100%;
      display: inline-block;
    }
  }

  &__button {
    height: 59px;
    width: 59px;
    display: block;
    flex-shrink: 0;

    & > svg {
      margin-top: 0;
    }

    &:hover {
      fill: $color-regular-green;
      transition: .3s;
    }

    &:active {
      fill: $color-regular-green;
    }

    & > svg {
      height: 18px;
      width: 18px;
    }
  }

  &__close {
    height: 59px;
    width: 59px;
    display: block;
    flex-shrink: 0;

    & > svg {
      height: 18px;
      width: 18px;
      fill: #aaaaaa;
    }
  }

  //Search results block
  &__results {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    width: 100%;

    &__wrapper {
      background: #eef5f9;
      padding: 0;
    }

    &__list {
      padding: 7px 30px 1px;
      width: 100%;
    }

    &__item {
      &_active {
        font-weight: 700;
      }

      & a {
        color: black;
        display: block;
        padding: 15px 0;
        font-size: 15px;
        font-weight: 400;
        transition: .3s;

        &:hover {
          color: $color-regular-blue;
          transition: .3s;
        }
      }
    }

    &__button {
      width: 100%;
      padding: 8px 0 10px;
      background-color: #dbe3e8;
      font-size: 14px;
      font-weight: 400;
      transition: .3s;

      &:hover {
        background: $color-regular-green;
        transition: .3s;
      }
    }
  }
}

//Header__Mobile Menu
.mobile {
  display: none;
  background: #f1f7fc;
  padding: 35px 0 20px;
  z-index: 50;
  position: absolute;
  overflow-y: scroll;
  height: calc(100vh - 58px);
  width: 100%;
  top: 58px;

  &__contacts,
  &__menu__item {
    padding-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 100vw;
      left: 50%;
      bottom: 0;
      margin-left: -50vw;
      background: #dee6ec;
    }
  }

  &__hot__phone {
    font-family: $font-openSans;
    font-size: 20px;
    font-weight: 700;
  }

  &__hot__description {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 0;
  }

  &__phone {
    font-family: $font-openSans;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0;
  }

  &__email {
    font-family: $font-openSans;
    font-size: 14px;
    font-weight: 400;
    margin: 7px 0 0;
  }

  &__menu__item {
    //border-bottom: 1px solid #dee6ec;
    padding-bottom: 0;

    & > div {
      display: flex;
      justify-content: space-between;
      & > svg {
        box-sizing: content-box;
        padding: 15px;
      }
    }

    & a {
      font-size: 16px;
      font-weight: 700;
      color: $black;
      padding: 15px 0;
    }

    & svg {
      width: 20px;
      height: 15px;
      transition: .3s;
    }

    &_active {
      & .mobile__products__open {
        transform: rotate(180deg);
        transition: .3s;
      }
    }
  }

  &__submenu {
    padding: 20px 0 20px 15px;
    display: none;
    position: relative;
    left: 50%;
    margin-left: -150px;
    &__wrapper {
      position: relative;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      background: $white;
    }

    &__item {
      display: flex;

      & svg {
        width: 32px;
        height: 32px;
      }

      & span {
        align-self: center;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

//Main__Prime
.prime {
  position: relative;

  &__slider {
    &__item {
      height: 500px;
      position: relative;
    }

    &__image {
      display: none;
    }
  }

  &__new {
    padding: 5px 10px 8px;
    background: $color-regular-green;
    margin-top: 49px;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;

    &_disabled {
      opacity: 0;
    }

    & span {
      opacity: 0.82;
    }
  }

  &__title {
    margin-top: 23px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  &__description {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    & > li {
      padding-left: 27px;
      position: relative;
      //margin-left: -15px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 17px;
        height: 2px;
        background: #95b927;
        z-index: 10;
        top: 15px;
        //left: -27px;
        left: 0;
      }
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}


//Slick settings
.prime .slick-dots,
.news .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;

  & button {
    border: 1px solid $white;
    width: 37px;
    height: 7px;
    background: transparent;
    margin: 0 6px;
  }

  & > .slick-active > button {
    background: $white;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

//Main__Products
.products {
  text-align: center;
  padding: 59px 0 64px;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &__title {
    font-family: $font-openSans;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
  }

  &__wrapper {
    //margin-bottom: 63px;
  }

  &__item {
    margin-top: 30px;
    display: block;
    color: $black;

    &__description {
      font-size: 15px;
    }
  }
}

//Products Icons
.icon-ico_1,
.icon-ico_2,
.icon-ico_3,
.icon-ico_4,
.icon-ico_5,
.icon-ico_6,
.icon-ico_7,
.icon-ico_8,
.icon-ico_9,
.icon-ico_10 {
  width: 68px;
  height: 68px;
}

//Main__News
.news {
  background: #f1f7fc;
  border: 1px solid rgba(76, 151, 190, 0.21);
  padding: 55px 0 65px;

  &__wrapper {
    & > div {
      margin-top: 15px;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__item {
    display: block;
    height: 100%;
    position: relative;
    padding: 0;
    box-shadow: 0 3px 7px rgba(62, 125, 177, 0.08);

    &__description {
      margin-top: 111px;
      padding-bottom: 30px;
      position: relative;
      z-index: 5;
    }

    &__billet {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 300;
      min-height: 30px;
      color: #040404;
      letter-spacing: 2.08px;
      display: inline-block;
      padding: 8px 17px;
      border: 1px solid rgba(249, 252, 253, 0.24);
      border-radius: 2px;
      margin: 26px 0 0 30px;
      position: relative;
      z-index: 10;
    }

    &__date {
      font-size: 14px;
      font-weight: 300;
      padding: 25px 0 16px 55px;
      border-bottom: 1px solid rgba(255, 255, 255, .18);
      position: relative;

      & > svg {
        position: absolute;
        height: 22px;
        width: 22px;
        top: 21px;
        left: 30px;
      }
    }

    &__title {
      margin: 18px 0 0 0;
      font-family: $font-openSans;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      padding: 0 30px 0 30px;
      display: block;
      color: $white;
    }
  }

  &__company,
  &__events,
  &__webinars {
    &::after {
      @include mix-pseudo-overlay;
      background-color: #0d2c39;
      opacity: .5;
      top: 172px;
      z-index: 1;
      transition: .3s;
    }

    &:hover::after {
      top: 0;
      transition: .3s;
    }
  }

  &__company {
    color: $white;

    & .news__item__billet {
      background-color: #dee7fd;
    }

    & .icon-time {
      fill: $white;
    }
  }

  &__industry {
    background: $white;

    & > .news__item__billet {
      background-color: #deedc6;
    }

    & > .news__item__title {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(115, 164, 184, .32);
      color: $black;

      &:last-child {
        border-bottom: none;
        padding-bottom: 45px;
      }
    }

    & svg {
      fill: #999;
    }
  }

  &__events {
    color: $white;

    & .news__item__billet {
      background-color: #caecfb;
    }

    & .news__item__date {
      & svg {
        fill: #999;
      }
    }
  }

  &__webinars {
    color: $white;

    & .news__item__billet {
      background-color: #deedc6;
    }

    & .news__item__date {
      & svg {
        fill: #999;
      }
    }
  }

  &__actions {
    background: $white;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      background-color: #deedc6;
      //z-index: -1;
    }

    & .news__item__title {
      color: $black;
    }

    &__brand {
      position: absolute;
      width: 73px;
      height: 47px;
      top: 25px;
      right: 18px;
    }

    & .slick-dots {
      bottom: auto;
      top: 220px;

      & button {
        border: none;
        width: 44px;
        height: 6px;
        background: #979899;
        margin: 0 10px;
      }

      & > .slick-active > button {
        background: $color-light-green;
      }
    }

    & .news__item__billet {
      background-color: #caecfb;
    }

    & .news__item__image {
      & img {
        margin: 15px auto 0;
        display: block;
      }
    }

    & .news__item__title {
      margin-top: -28px;
      background-color: #deedc6;
      position: relative;
      z-index: 10;
      padding: 29px 30px 37px;
    }
  }

  &__item__wrapper {
    background: $white;

    & svg {
      width: 68px;
      height: 68px;
    }
  }

  &__item__subitem {
    display: flex;
    justify-content: space-between;
    padding: 34px 39px 36px 31px;
    transition: .3s;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background: #eef8fd;
      height: 1px;
      left: 31px;
      right: 39px;
      bottom: 0;

    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &:hover {
      background: #eef8fd;
      transition: .3s;
      box-shadow: 0 3px 7px rgba(62, 125, 177, 0.08);

      & .news__subitem__description {
        opacity: 0.7;
      }
    }
  }

  &__subitem__description {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-openSans;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: $black;
  }
}

//Main__Network
.network {
  padding: 52px 0 0;

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__select {
    margin-top: 26px;
    border-radius: 0;
    background: #f1f7fc;
    height: 37px;
    line-height: 35px;

    &__wrapper {
      max-width: 368px;
      margin-left: auto;
    }

    & .list {
      border-radius: 0;

      & li {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          background: #e9eff2;
          height: 1px;
          left: 18px;
          right: 18px;
        }
      }
    }
  }

  &__map {
    min-height: 500px;
    margin: 35px auto 0;
    border: 1px solid #b4bac2;
  }
}

//Footer
.footer {
  color: $white;
}

//Footer__About
.about {
  padding: 40px 0 70px;
  text-align: center;
  position: relative;

  &__submenu {
    display: none;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    &__item {
      margin-top: 15px;

      & a {
        color: $white;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  &__submenu__wrapper {
    display: none;
  }

  &__phone,
  &__hot__phone {
    font-size: 24px;
    font-weight: 700;
    color: $white;
  }

  &__hot__phone {
    margin-top: 50px;
  }

  &__hot__description {
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
  }

  &__phone {
    margin-top: 38px;
  }

  &__email {
    font-family: $font-openSans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  &__logo {
    display: none;
  }
}

//Footer__Stuff
.stuff {
  background: $color-heavy-blue;
  color: $white;
  font-size: 12px;
  font-weight: 400;
  padding: 25px 0 20px;

  &__rights {
    opacity: 0.66;
  }

  &__rules {
    margin-top: 10px;
    opacity: 0.66;

    & a {
      color: $white;
    }
  }

  &__map {
    margin-top: 10px;
    opacity: 0.66;

    & a {
      color: $white;
    }
  }
}
