@media (min-width: 1024px) {
  //Header
  .header {
    height: 158px;
    &__top {
      height: 99px;
      & > div {
        height: 100%;
      }
    }
    &__logo {
      margin-top: 28px;
      transition: .3s;
    }

    &__hot-line {
      &__phone {
        font-size: 24px;
      }
    }

    &__work-time {
      display: flex;
      color: #3c3c3b;
      font-size: 14px;
      font-weight: 400;
      align-self: center;

      & svg {
        height: 19px;
        width: 19px;
      }

      & span {
        margin-left: 9px;
        margin-top: 1px;
      }
    }

    &__language {
      margin-bottom: 23px;
    }
  }

  //Search form
  .search {
    top: 31px;
    margin-right: -480px;

    &__results {
      top: 100px;
      margin-right: -480px;
    }
  }

  //Navigation Desktops
  .navigation {
    transition: .3s;

    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      &__item {
        margin-right: 0;

        & > a {
          padding: 20px 0 22px;
          &::after {
            bottom: -2px;
          }
        }
      }
    }

    &__products__wrapper {
      padding-bottom: 70px;
      top: 158px;

      & ul {
        justify-content: center;
      }
    }
  }

  //Main
  .is-fixed {
    margin-top: 70px;
  }

  //Main__Prime
  .prime {
    &__new {
      margin-left: 70px;
      font-size: 12px;
    }

    &__title {
      font-size: 37px;
      margin-left: 70px;
    }

    &__description {
      margin-left: 110px;
      font-size: 18px;
    }

    &__slick-next {
      right: 40px;
    }

    &__slick-prev {
      left: 40px;
    }

    & .slick-dots {
      & button {
        width: 66px;
        height: 12px;
        margin: 0 12.5px;
      }
    }
  }
  //Main__Products
  .products {
    &__title {
      text-align: left;
      font-size: 37px;
    }

    &__item {
      transition: .3s;

      &:hover {
        transition: .3s;
        opacity: .8;
      }

      &__description {
        font-size: 18px;
      }
    }
  }
  //Main__News
  .news {
    &__item {
      //width: 32%;
      //max-width: 32%;

      &__image {
        & img {
          //width: 245px;
          //height: 214px;
        }
      }

      &__title {
        font-size: 18px;
      }
    }

    &__industry {
      .news__item__title {
        transition: .3s;

        &:hover {
          opacity: 0.7;
          transition: .3s;
        }
      }
    }

    &__actions {
      & .news__item__title {
        //padding-bottom: 0;
      }

      &__slick-next,
      &__slick-prev {
        position: absolute;
        top: 120px;
        z-index: 10;
        width: 42px;
        height: 42px;
        fill: #eef2f5;
        transition: .3s;

        & svg {
          width: 42px;
          height: 42px;
        }

        &:hover {
          fill: #b7c8d5;
          transition: .3s;
        }
      }

      &__slick-next {
        right: 20px;
      }

      &__slick-prev {
        left: 20px;
      }
    }
  }
  //Main__Network
  .network {
    &__title {
      margin: 0;
      font-size: 37px;
      text-align: left;
    }

    &__select__label {
      margin: 0;
    }
  }
  //Footer

  //Footer__Stuff
  .stuff {
    &__wrapper {
      justify-content: start;
    }

    &__rules,
    &__map {
      margin: 0 0 0 80px;
      transition: .3s;

      &:hover {
        opacity: 1;
        transition: .3s;
      }
    }
  }

  //Fixed header style
  .fixed {
    height: 65px;
    //Fixed header
    .header {
      &__logo {
        width: 91px;
        height: 24px;
        margin: 17px 0 5px;
        transition: .3s;
      }

      &__hot-line {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }

      &__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px;
      }

      &__user {
        margin-right: -250px;
        margin-bottom: 30px;
      }

      &__search-language__wrapper {
        height: 65px;
      }

      &__language {
        margin-bottom: 10px;
      }

      &__search {
        margin-bottom: 20px;
      }

      &__menu {
        display: none;
      }
    }

    //Fixed navigation
    .navigation {
      height: 65px;
      overflow: visible;

      &__products {
        &__wrapper {
          top: 65px;
        }
      }
      &__list {
        flex-wrap: wrap;
        padding: 0 110px 0 115px;
        margin-top: -82px;
        justify-content: space-between;

        &__item {
          margin: 0;
          & > a {
            font-size: 10px;
            padding: 10px 0 26px;
            &::after {
              //bottom: -22px;
            }
          }
        }
      }
    }
  }
}
