@media (min-width: 1024px) {
  //Header
  .header {
    //min-height: 136px;
    &__work-time {
      display: flex;
      color: #3c3c3b;
      font-size: 14px;
      font-weight: 400;
      align-self: center;

      & svg {
        height: 19px;
        width: 19px;
      }

      & span {
        margin-left: 9px;
        margin-top: 1px;
      }
    }

    &__language {
      margin-bottom: 10px;
    }
  }
  //Search form
  .search {
    top: 30px;
    width: 100%;
    height: 0;

    &__open {
      width: 100%;
      height: auto;

      & .search__form {
        width: 500px;
        transition: .3s;
        overflow: hidden;
      }
    }

    &__form {
      //max-width: 500px;
      width: 0;
      margin-left: auto;

      &__wrapper {
        max-width: 930px;
        margin: 0 auto;
      }

      &__input {
        min-height: 69px;
      }

      &__button {
        width: 69px;
        height: 69px;

      }

      &__close {
        width: 69px;
        height: 69px;

        & svg {
          height: 18px;
          width: 18px;
          fill: #aaaaaa;
        }
      }
    }

    //Search results block
    &__results {
      top: 100px;
      min-width: unset;
      width: 100%;

      &__wrapper {
        max-width: 930px;
        margin: 0 auto;
        background: transparent;
      }

      &__list {
        max-width: 500px;
        margin-left: auto;
        background: #eef5f9;
      }

      &__button {
        max-width: 500px;
        margin-left: auto;
        display: block;
        padding: 8px 0 10px;
        background-color: #dbe3e8;
        font-size: 14px;
        font-weight: 400;

        &:hover {
          background: $color-regular-green;
        }
      }
    }
  }

  //Navigation Desktops
  .navigation {
    transition: .3s;

    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      &__item {
        margin-right: 0;

        & > a {
          padding: 20px 0 22px;
        }
      }
    }

    &__products__wrapper {
      padding-bottom: 70px;

      & ul {
        justify-content: center;
      }
    }
  }

  //Main
  .is-fixed {
    margin-top: 70px;
  }

  //Main__Prime
  .prime {
    &__new {
      margin-left: 70px;
    }

    &__title {
      font-size: 37px;
      margin-left: 70px;
    }

    &__description {
      margin-left: 110px;
      font-size: 18px;
    }

    &__slick-next {
      right: 40px;
    }

    &__slick-prev {
      left: 40px;
    }

    & .slick-dots {
      & button {
        width: 66px;
        height: 12px;
        margin: 0 12.5px;
      }
    }
  }
  //Main__Products
  .products {
    &__title {
      text-align: left;
      font-size: 37px;
    }

    &__item {
      transition: .3s;

      &:hover {
        transition: .3s;
        opacity: .8;
      }

      &__description {
        font-size: 18px;
      }
    }
  }
  //Main__News
  .news {
    &__item {
      width: 32%;
      max-width: 32%;

      &__image {
        & img {
          width: 245px;
          height: 214px;
        }
      }

      &__title {
        font-size: 18px;
      }
    }

    &__industry {
      .news__item__title {
        transition: .3s;

        &:hover {
          opacity: 0.7;
          transition: .3s;
        }
      }
    }

    &__actions {
      & .news__item__title {
        padding-bottom: 75px;
      }

      &__slick-next,
      &__slick-prev {
        position: absolute;
        top: 120px;
        z-index: 10;
        width: 42px;
        height: 42px;
        fill: #eef2f5;
        transition: .3s;

        & svg {
          width: 42px;
          height: 42px;
        }

        &:hover {
          fill: #b7c8d5;
          transition: .3s;
        }
      }

      &__slick-next {
        right: 20px;
      }

      &__slick-prev {
        left: 20px;
      }
    }
  }
  //Main__Network
  .network {
    &__title {
      margin: 0;
      font-size: 37px;
      text-align: left;
    }

    &__select__label {
      margin: 0;
    }
  }
  //Footer
  //Footer__About
  .about {
    padding: 35px 0 70px;
    text-align: left;

    &__menu {
      &__item {
        margin-top: 20px;

        & a {
          transition: .3s;

          &:hover {
            color: #b1def6;
            transition: .3s;
          }
        }

        &:last-child {
          display: none;
        }
      }
    }

    &__submenu {
      display: block;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      &__wrapper {
        margin-top: 20px;
        display: block;
      }

      &__title {
        font-size: 16px;
        font-weight: 700;
      }

      &__item {
        padding-top: 20px;

        & a {
          color: $white;
          font-size: 14px;
          font-weight: 400;
          transition: .3s;

          &:hover {
            color: #b1def6;
            transition: .3s;
          }
        }
      }
    }

    &__contacts {
      height: 100%;
      position: relative;
      padding-bottom: 110px;
    }

    &__hot__phone {
      margin-top: 20px;
    }

    &__logo {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 218px;
      height: 57px;
      opacity: .36;
    }
  }
  //Footer__Stuff
  .stuff {
    &__wrapper {
      display: flex;
      justify-content: start;
    }

    &__rules,
    &__map {
      margin: 0 0 0 80px;
      transition: .3s;

      &:hover {
        opacity: 1;
        transition: .3s;
      }
    }
  }

  //Fixed header style
  .fixed {
    min-height: 70px;
    //Fixed header
    .header {
      &__logo {
        margin: 17px 0 5px;
      }

      &__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        transform: translateX(30px);
      }

      &__user {
        margin-right: -250px;
        margin-bottom: -15px;
      }

      &__search-language__wrapper {
        margin-top: 10px;
        margin-left: 10px;
      }
    }

    //Fixed navigation
    .navigation {
      &__list {
        flex-wrap: wrap;
        padding: 0 110px 0 110px;
        margin-top: -60px;

        &__item {
          margin: 0 15px;
        }
      }
    }
  }
}
