@media (min-width: 768px) {
  //Global
  body {
    height: 100%;
  }

  //Header
  .header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    transition: .3s;
    border-bottom: 1px solid #cdcdcd;
    background: $white;

    &__top {
      height: 70px;
    }

    &__logo {
      width: 152px;
      height: 40px;
      margin: 0;
    }

    &__tablet-menu {
      display: block;
      //margin-left: -30px;
      position: absolute;
      left: 50%;
      margin-left: -180px;
      //margin-top: -7px;

      &__button {
        //height: 100%;
        //width: 100%;
      }
    }

    &__hot-line {
      display: flex;
      flex-direction: column;
      align-self: center;
      transition: .3s;
      margin-left: 80px;

      &__phone {
        color: #3c3c3b;
        font-size: 18px;
        font-weight: 700;
        & > a {
          color: $black;
        }
      }

      &__description {
        color: #919191;
        font-size: 14px;
        font-weight: 400;
      }
    }

    &__user {
      display: flex;
      align-self: center;
      transition: .3s;

      & button {
        color: $color-regular-blue;
        display: flex;
      }

      & span {
        display: block;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1px;
        transition: .3s;
      }
    }

    & .icon-lk {
      fill: $color-regular-blue;
    }

    &__search-language__wrapper {
      flex-direction: column-reverse;
      margin-bottom: 20px;
      margin-right: unset;
    }

    &__search {
      text-align: right;
      margin-right: 13px;
    }

    &__language {
      margin-bottom: 10px;
      margin-left: 0;
      display: flex;

      & span {
        color: #31261a;
        font-size: 12px;
        font-weight: 400;
      }

      & .icon-arrow_down {
        margin-bottom: -3px;
      }
    }

    & .icon-search {
      margin-right: 0;
    }

    //Mobile navigation button
    &__menu {
      display: none;
    }
  }

  //Search form
  .search {
    height: 69px;
    top: 0;
    left: auto;
    right: 50%;
    margin-right: -345px;
    background: transparent;
    //border: none;
    //border-bottom: 1;
    &__open {
      width: 500px;
    }

    &__form {
      background: #eef5f9;
      width: 100%;
    }

    &__input {
      padding: 0 15px;
    }

    &__button {
      width: 67px;
      height: 67px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__close {
      width: 67px;
      height: 67px;
      margin: 0;

      & svg {
        height: 18px;
        width: 18px;
        fill: #aaaaaa;
      }
    }

    //Search__Results
    &__results {
      top: 69px;
      z-index: 60;
      width: 500px;
      left: auto;
      right: 50%;
      margin-right: -345px;
      &__wrapper {
        background: transparent;
      }
      &__list {
        background: #eef5f9;
        width: 500px;
        margin-left: auto;
      }
      &__button {
        width: 500px;
        margin-left: auto;
        display: block;
      }
    }
  }

  //Navigation Desktops
  .navigation {
    display: block;
    transition: .3s;
    height: auto;
    top: 70px;
    left: 50%;
    margin-left: -345px;
    position: absolute;
    width: 205px;
    background: white;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      transition: .3s;

      &__wrapper {
        display: none;
        padding: 0;
      }

      &__item {
        width: 100%;
        border-right: 1px solid #cdcdcd;

        &__wrapper {
          display: flex;
          justify-content: space-between;
          & > a {
            padding: 10px 10px 11px;
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: $black;
            transition: .3s;
            position: relative;
            width: 100%;
            text-align: left;
            overflow: hidden;
          }

          & > button {
            position: relative;

            & > svg {
              padding: 8px 10px;
              box-sizing: content-box;
              height: 20px;
              width: 20px;
              transition: .3s;
              fill: #cdcdcd;
            }
          }
        }
      }
    }

    &__products {
      &__wrapper {
        //visibility: hidden;
        //opacity: 0;
        transition: .3s;
        position: absolute;
        z-index: 10;
        padding-bottom: 35px;
        background: #f1f7fc;
        top: 0;
        left: 205px;
        padding-top: 5px;
        width: 0;
        overflow: hidden;
        height: 300px;

        & ul {
          //justify-content: center;
        }
        & .products__item {
          text-align: center;
          margin-top: 10px;
          min-width: 33%;

          & a {
            color: $black;
            transition: .3s;

            &:hover {
              color: $color-regular-blue;
              transition: .3s;
            }
          }
          &__description {
            font-size: 14px;
          }
          &__image {
            & > svg {
              width: 54px;
              height: 54px;
            }
          }
        }



      }
      &_active {
        //&::before {
        //  display: block;
        //  content: '';
        //  position: absolute;
        //  height: 100%;
        //  width: 1px;
        //  background: $white;
        //  right: -1px;
        //}
        & > svg {
          transform: rotate(-90deg);
          transition: .3s;
        }
      }
    }
  }

  //Navigation submenu
  .js-hover {
    //visibility: visible;
    //opacity: 1;
    width: 485px;
    height: auto;
  }

  //Main
  .is-fixed {
    margin-top: 70px;
  }

  //Main__Prime
  .prime {
    &__description {
      margin-bottom: 75px;
    }

    &__slider {
      &__item {
        font-size: 12px;
        font-weight: 700;
        height: unset;
        min-height: 430px;
      }
    }

    &__slider {
      &__image {
        display: flex;
        align-items: center;
        margin-top: 40px;

        & img {
          width: 100%;
        }
      }
    }

    &__slick-next,
    &__slick-prev {
      position: absolute;
      top: calc(50% - 26px);
      z-index: 10;
      width: 52px;
      height: 52px;
      transition: .3s;
      outline: transparent;

      & svg {
        width: 52px;
        height: 52px;
      }

      &:hover {
        background-color: $color-heavy-blue;
        opacity: .3;
        transition: .3s;
      }
    }

    &__slick-next {
      right: 40px;
    }

    &__slick-prev {

      left: 40px;
    }
  }

  //Main__Products
  .products {
    &__item {
      &__image {
        & > svg {
          width: 86px;
          height: 86px;
        }
      }
    }

    &__wrapper {
      justify-content: center;
    }
  }

  //Main__News
  .news {
    padding-top: 35px;
    &__wrapper {
      & > div {
        margin-top: 30px;
      }
    }

    &__actions {
      &__slick-next,
      &__slick-prev {
        position: absolute;
        top: 142px;
        z-index: 10;
        width: 42px;
        height: 42px;
        fill: #eef2f5;
        transition: .3s;

        & svg {
          width: 42px;
          height: 42px;
        }

        &:hover {
          fill: #b7c8d5;
          transition: .3s;
        }
      }

      &__slick-next {
        right: 20px;
      }

      &__slick-prev {
        left: 20px;
      }
    }
  }
  //Main__Network
  .network {
    &__title {
      &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &__select {
      margin-top: 5px;
    }
  }

  //Footer
  //About
  .about {
    padding: 35px 0 45px;
    text-align: left;

    &__menu {
      & a {
        font-size: 13px;
      }
    }

    &__menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height:calc((19px + 20px) * 8);
      &__item {
        //margin-top: 15px;

        & a {
          transition: .3s;

          &:hover {
            color: #b1def6;
            transition: .3s;
          }
        }
      }
    }

    &__submenu {
      display: block;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      &__wrapper {
        margin-top: 15px;
        display: block;
      }

      &__item {
        padding-top: 15px;

        & a {
          color: $white;
          font-weight: 400;
          transition: .3s;

          &:hover {
            color: #b1def6;
            transition: .3s;
          }
        }
      }
    }

    &__contacts {
      height: 100%;
      position: relative;
      padding-bottom: 110px;
    }

    &__hot__phone {
      margin-top: 20px;
    }

    &__logo {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 218px;
      height: 57px;
      opacity: .36;
      margin-left: 15px;
    }
  }

  //Stuff
  .stuff {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__rules {
      margin-top: 0;
    }
    &__map {
      margin-top: 0;
    }
  }

  //Fixed header style
  .fixed {
    //height: 70px;

    //Header
    & .header {
      //transition: .3s;

      &__top {
        & > div {
          //height: 100%;
        }
      }

      //&__user {
      //  margin-right: -225px;
      //  transition: .3s;
      //
      //  & span {
      //    visibility: hidden;
      //    opacity: 0;
      //    margin-top: -10px;
      //    transition: .3s;
      //  }
      //}

      //&__search-language__wrapper {
      //  //margin-top: 10px;
      //  margin-left: 10px;
      //}
    }

    //Fixed Navigation
    & .navigation {
      //transition: .3s;
      //height: auto;
      //top: 70px;
      //left: 50%;
      //margin-left: -360px;
      //position: absolute;
      //width: 175px;
      //background: white;

      &__products {
        &-active {
          & > svg {
            //transform: rotate(-90deg);
            //transition: .3s;
          }
        }
        &__wrapper {
          //top: 70px;
        }
      }

      &__list {
        //padding: 0;
        //transition: .3s;

        &__wrapper {
          //display: none;
        }

        &__item {
          //margin: 0 10px;
          //width: 100%;
          //display: flex;
          //justify-content: space-between;

          &:hover > div {
            //position: fixed;
            //top: 70px;
            //right: 0;
            //left: 50%;
            //margin-left: -185px;
            //max-width: 545px;
          }

          & > svg {
            //display: block;
            //height: 20px;
            //width: 20px;
            //right: 0;
            //top: 10px;
          }
        }
      }
    }
  }
}
