@media (min-width: 768px) {
  //Header
  .header {
    min-height: 160px;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    &__logo {
      width: 152px;
      height: 40px;
      margin: 17px 40px 17px 0;
      transition: .3s;
    }
    &__hot-line {
      display: flex;
      flex-direction: column;
      align-self: center;
      transition: .3s;
      &__phone {
        color: #3c3c3b;
        font-size: 24px;
        font-weight: 700;
      }
      &__description {
        color: #919191;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__user {
      display: flex;
      align-self: center;
      transition: .3s;
      & button {
        color: $color-regular-blue;
        display: flex;
      }
      & span {
        display: block;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1px;
        transition: .3s;
      }
    }
    & .icon-lk {
      fill: $color-regular-blue;
    }
    &__search-language__wrapper {
      flex-direction: column-reverse;
    }
    &__search {
      text-align: right;
      margin-right: 13px;
    }
    &__language {
      margin-right: 4px;
      margin-bottom: 10px;
      display: flex;
      & span {
        color: #31261a;
        font-size: 12px;
        font-weight: 400;
      }
      & .icon-arrow_down {
        margin-bottom: -3px;
      }
    }
    & .icon-search {
      margin-right: 0;
    }
    //Mobile navigation button
    &__menu {
      display: none;
    }
  }
  //Search form
  .search {
    &__open {
      width: 500px;
    }
    &__form {
      &__input {
        min-height: 74px;
        padding: 0 15px;
      }

      &__button {
        width: 74px;
        height: 74px;

        & svg {
          width: 18px;
          height: 18px;
        }
      }

      &__close {
        width: 74px;
        height: 74px;
        & svg {
          height: 18px;
          width: 18px;
          fill: #aaaaaa;
        }
      }
    }
    //Search__Results
    &__results {
      top: 70px;
      z-index: 60;
      min-width: unset;
      width: 500px;
    }
  }

  //Navigation Desktops
  .navigation {
    display: block;
    transition: .3s;
    width: 100%;
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      transition: .3s;
      &__item {
        margin-right: 20px;
        &:hover > div {
          visibility: visible;
          //transform: translateY(0);
          opacity: 1;
        }
        & > a {
          padding: 10px 0 11px;
          display: block;
          font-size: 16px;
          font-weight: 400;
          color: $black;
          transition: .3s;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            height: 4px;
            left: -5px;
            right: -5px;
            bottom: 0;
            z-index: 57;
          }
          &:hover {
            color: $color-regular-blue;
            transition: .3s;
          }
          &:hover::after {
            background: $color-regular-blue;
          }
        }
      }
    }
    &__products__wrapper {
      visibility: hidden;
      opacity: 0;
      //transform: translateY(-10px);
      transition: all .5s ease;
      position: absolute;
      top: 160px;
      left: 0;
      right: 0;
      z-index: 10;
      padding-top: 35px;
      padding-bottom: 35px;
      background: #f1f7fc;
      & ul {
        justify-content: center;
      }
      & .products__item {
        text-align: center;
        margin-top: 10px;
        & a {
          color: $black;
          transition: .3s;
          &:hover {
            color: $color-regular-blue;
            transition: .3s;
          }
        }
      }
    }
  }

  //Main
  .is-fixed {
    margin-top: 154px;
  }
  //Main__Prime
  .prime {
    &__slider__item {
      font-size: 12px;
      font-weight: 700;
    }
    &__slider {
      &__image {
        display: block;
        margin-top: 40px;
        & img {
          width: 100%;
        }
      }
    }
    &__slick-next,
    &__slick-prev {
      position: absolute;
      top: calc(50% - 26px);
      z-index: 10;
      width: 52px;
      height: 52px;
      transition: .3s;
      outline: transparent;
      & svg {
        width: 52px;
        height: 52px;
      }
      &:hover {
        background-color: $color-heavy-blue;
        opacity: .3;
        transition: .3s;
      }
    }
    &__slick-next {
      right: 40px;
    }
    &__slick-prev {

      left: 40px;
    }
  }
  //Main__Products
  .products {
    &__title {
      text-align: center;
    }
    &__wrapper {
      justify-content: center;
    }
  }
  //Main__News
  .news {
    &__wrapper {
      justify-content: space-between;
    }
    &__item {
      max-width: 350px;
    }
    &__actions {
      & .news__item__title {
        padding-bottom: 96px;
      }
    }
  }
  //Main__Network
  .network {
    &__title {
      text-align: center;
    }
    &__select {
      margin-top: 0;
    }
  }
  //Footer
  .stuff {
    &__wrapper {
      text-align: center;
    }
  }

  //Fixed header style
  .fixed {
    min-height: 100px;
    //Header
    .header {
      transition: .3s;
      &__wrapper {
        align-items: unset;
      }
      &__logo {
        width: 91px;
        transition: .3s;
        margin: 12px 0 5px;
      }
      &__hot-line {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -10px;
      }
      &__user {
        margin-right: -360px;
        margin-bottom: -90px;
        transition: .3s;
        & span {
          visibility: hidden;
          opacity: 0;
          margin-top: -10px;
          transition: .3s;
        }
      }
      &__search-language__wrapper {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    & .navigation {
      transition: .3s;
      height: 0;
      &__products {
        &__wrapper {
          top: 70px;
        }
      }
      &__list {
        margin-top: -70px;
        padding: 0 70px 0 100px;
        transition: .3s;
        &__item {
          margin: 0 10px;
          &:hover > div {
            visibility: visible;
            //transform: translateY(0);
            opacity: 1;
          }
          & > a {
            padding: 4px 0 6px;
          }
        }
      }
    }
  }
}
