//Colors
$black: #000;
$white: #fff;
$color-light-blue: #d7e9f7;
$color-regular-blue: #219bd8;
$color-heavy-blue: #0a6297;
$color-light-green: #badb8f;
$color-regular-green: #a1ce5c;

//Fonts
$font-openSans: 'Open Sans', sans-serif;

//Mixins
@mixin mix-pseudo-overlay {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin mix-pseudo-test {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: red;
  top: 0;
  left: 0;
}
